body {
    margin: 0;
    padding: 0;
}

header p {
    float: left;
    color: rgb(5, 56, 106);
    font-size: 1.6rem;
    padding-left: 2rem;
    margin-top: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    height: 2.2rem;
    padding: 1.1rem;
}

header ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 3rem;
}

header li a {
    color: rgb(70, 70, 70);
    text-align: center;
    padding: 50px 14px 0px 14px;
    margin-top: 40px;
    font-weight: 300;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
  }

header li {
    float: right;
}

.pic1 {
    width: 100%;
    height: 30rem;
    margin-top: -10px;
    z-index: -10;
    position: relative;
}

.back-blur {
    background-color: rgba(23, 29, 54, 0.369);
    margin-top: -29.9rem;
    height: 30rem;
    z-index: 1;
}

.front-text {
    margin-top: -10rem;
    padding-left: 5rem;
    padding-right: 50rem;
    padding-top: 7rem;
    color: white;
}

.front-text h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.center-card {
    margin: auto;
    margin-top: 5rem;
    height: 34rem;
    padding: auto;
    width: 80%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.291);
    border: rgb(255, 255, 255) 2px solid;
}

.pic2 {
    width: 500px;
    height: 500px;
    justify-content: space-around;
    margin: 20px;
}

.about-container {
    float: right;
    margin-left: 580px;
    margin-right: 30px;
    margin-top: -480px;
    text-align: center;
}

.about-container h1 {
    color: rgb(5, 56, 106);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}

.about-card h3 {
    color: rgb(3, 34, 65);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.about-container p {
    color: rgb(139, 142, 145);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
}

.container-2 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1rem;
    margin-top: -40px;
}

.about-card {
    width: auto;
    height: 50px;
    padding: 2.2rem;
    margin: auto;
    margin-left: -75px;
    text-align: left;
}

.about-card p {
    font-size: smaller;
}

.graphics-1 {
    width: 5rem;
    height: 5rem;
    float: left;
    margin: 30px 25px 25px 25px;
}

.grid {
    height: 30rem;
    margin:  70px 130px;
    display: flex;
    flex-wrap: wrap;
}

.joined-card {
    width: 33%;
    height: 50%;
    padding: auto 40px;
}

.joined-card h4 {
    color:rgb(218, 236, 251);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: x-large;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 30px;
}

.joined-card h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 24px;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 30px;
}

.joined-card p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: rgb(180, 180, 180);
    font-size: small;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 30px;
}

.floating-stats{
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    background-color: aliceblue;
    height: 120px;
}

.stat-card {
    width: 23%;
    background-color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.191);
    text-align: center;
    padding-top: 10px;
}

.stat-card h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    font-size: 26px;
    color: rgb(5, 56, 106);
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 auto;
}   

.icon-card {
    width: 30%;
    height: 60px;
}

.serv {
    text-align: center;
    margin: 50px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 29px;
    color: rgb(15, 80, 144);
}