/**
 * Basic typography style for copy text
 */
 body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $gray;
}

.heading-primary {
  font-size: 5rem;
  color: $primary;
}

.heading-secondary {
  display: inline-block;
  color: $primary;
  font-size: 4.5rem;
  line-height: 1.2;
  border-bottom: 3px solid $primary;
}