h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
    border: 4px solid cadetblue;
    padding: 13px;
    background-color: azure;
    margin-top: 30px;
}

.background {
    background-image: url('pic.jpg');
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    
}

.background > h5 {
    color: wheat;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 5px 500px;
    padding: 50px 2px;
}

.form {
    color:blueviolet;
    margin-top: 3em;
    background-color:rgba(245, 245, 220);
    padding: 5rem 5rem;
    border: 2px dotted teal;
    border-width: 3rem;
}

table {
    border: 3px solid cadetblue;
    margin: 0 auto;
    background-color: azure;

}

table:hover {
    background-color: rgba(95, 158, 160,0.3);
    color: white;
}

body {
    background-image: url('back.jpg');
    background-clip: content-box;
    background-attachment: fixed;
}

p::first-letter {
    color: #ff0000;
    font-size: xx-large;
  }

*::selection {
    color: red; 
    background: yellow;
  }