.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
  }
  
.header-nav li {
    float: right;
  }

.header-nav li a {
    display: block;
    color: rgb(70, 70, 70);
    text-align: center;
    padding: 14px 16px;
    font-weight: 500;
    text-decoration: none;
  }
  
.header-nav li a:hover {
    color: rgb(83, 111, 94);
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
  }

.title-nav {
    float: left;
    padding-top: 0.88rem;
    text-decoration: overline underline;
    color: rgb(83, 111, 94);
}

.head-main p {
    color:black;
}

.head-main {
    border: black solid 0px;
    width: 25rem; 
    height: 12rem;
    margin: 8rem 0rem 8rem 5rem;
    text-align: left;
    padding-left: 2rem;
    color: rgb(83, 111, 94);
    backdrop-filter:blur(10px); 
}


.pic1 {
    margin-top: -10rem;
    margin-bottom: 15rem;
    margin-left: 17rem;
    position: absolute;
    z-index: -50;
    max-width: 80%;
    max-height: 100%;
}

.about-us h2 {
    margin-top: 15rem;
    margin-left: 5rem;
    color: rgb(83, 111, 94);
    text-decoration-thickness: 0.125rem;
    font-size: 2rem;
}

.collage {
    display: flexbox;
    align-content: flex-start;
    margin-left: 4rem;
    margin-top: 3rem;
}

.collage img{
    max-width: 80%;
    height: auto;
    margin: 10px;
}

.paras {
    color:rgb(93, 100, 86);
    width: 50%;
    margin-left: 30rem;
    margin-top: -30rem;
}

.paras a {
    font-weight: 600;
    text-decoration: underline;
    color:rgb(83, 111, 94);
}

.services h2 {
    margin-top: 22rem;
    color: rgb(83, 111, 94);
    font-size: 2rem;
    float: right;
    margin-right: 7rem;
}

.services h1 {
    margin-top: 22rem;
    color: rgb(83, 111, 94);
    text-decoration-thickness: 0.125rem;
    font-size: 2rem;
    text-decoration: underline;
    float: right;
    margin-right: 7rem;
}

.card-container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 10rem;
    flex-flow: row wrap;
    flex-flow: nowrap;
    width: 100%;
    justify-content: center;
}

.card {
    padding-top: 10rem;
    padding-left: 2rem;
    margin: 8rem 1rem;
    width: 33%;
    justify-content: center;
    height: 22rem;
    background-color: azure;
}

.card h2 {
    margin-top: 6rem;
    text-align: center;
}

.card p {
    text-align: left;
    padding-left: 3rem;
}

.card-pic {
    margin-top: -18rem;
}

.contact-box {
    background-color: azure;
}

.contact-box h1 {
    margin-top: -8rem;
    color: rgb(83, 111, 94);
    text-decoration-thickness: 0.125rem;
    font-size: 2rem;
    text-decoration: underline;
    float: left;
    width: max-content;
    padding-left: 2rem;
    padding-top: 5rem;
    margin-right: 7rem;
    background-color: azure;
}

.contact-box form {
    padding: 2rem 2rem 10rem 2rem;
}

.contact-box input {
    padding: 8px;
    border: 1px rgb(88, 169, 172) solid;
    border-radius: 5px;
}

.contact-box button {
    border-radius: 3px;
    border: 0px;
    width: 5rem;
    height: 2rem;
    color: white;
    background-color: rgb(83, 111, 94);
}



.footer-nav {
    float: left;
    padding-left: 1rem;
    padding-top: 0.88rem;
    background-color: rgb(116, 116, 116);
    color: rgb(255, 255, 255);
    max-width: 100%;
}

.footer-ul {
    background-color: rgb(116, 116, 116);
    color: rgb(255, 255, 255);
}
.footer-ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.footer-ul li {
    float: right;
  }

.footer-ul li a {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(116, 116, 116);
    text-align: center;
    padding: 14px 16px;
    font-weight: 500;
    text-decoration: none;
  }