body {
    margin: 0;
    padding: 0;
}

.header-nav {
    width: 100%;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }
  
.header-nav li {
    float: right;
  }

.blur-container {
    background-color: rgba(250,250,250,0.6);
    padding: 2rem;
    height: 13rem;
    margin-top: 2rem;
}

.back-text {
    margin-top: 5rem;
}


.header-nav li a {
    display: block;
    color: rgb(70, 70, 70);
    text-align: center;
    padding: 14px 16px;
    font-weight: 500;
    text-decoration: none;
  }
  
.header-nav li a:hover {
    color: rgb(83, 111, 94);
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
  }

.title-nav {
    float: left;
    padding-top: 0.88rem;
    padding-left: 0.88rem;
    text-decoration: overline underline;
    color: rgb(83, 111, 94);
}

.head-main p {
    color:black;
}

.head-main {
    border: black solid 0px;
    width: 25rem; 
    height: 12rem;
    margin: 3rem 0rem 8rem 0rem;
    text-align: left;
    padding: 2rem;
    color: rgb(83, 111, 94);
}


.pic1 {
    margin-top: -21rem;
    margin-left: 17rem;
    position: absolute;
    z-index: -50;
    max-height: 2rem;
}

.head-main:hover {
    opacity: 0.5;
}

.about-us h2 {
    margin-top: 15rem;
    margin-left: 5rem;
    color: rgb(83, 111, 94);
    text-decoration-thickness: 0.125rem;
    font-size: 2rem;
}

.collage {
    display: flexbox;
    align-content: flex-start;
    margin-left: 4rem;
    margin-top: 3rem;
}

.collage img{
    max-width: 80%;
    height: auto;
    margin: 10px;
}

.collage img:hover {
    opacity: 0.4;
}

.paragraphs {
    color:rgb(93, 100, 86);
    width: 50%;
    margin-left: 30rem;
    margin-top: -30rem;
}

.paragraphs a {
    font-weight: 600;
    text-decoration: underline;
    color:rgb(83, 111, 94);
}

.services h2 {
    margin-top: 22rem;
    color: rgb(83, 111, 94);
    font-size: 2rem;
    float: right;
    margin-right: 7rem;
}

.services h1 {
    margin-top: 22rem;
    color: rgb(83, 111, 94);
    text-decoration-thickness: 0.125rem;
    font-size: 2rem;
    text-decoration: underline;
    float: right;
    margin-right: 7rem;
}

.card-container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 10rem;
    flex-flow: nowrap;
    width: 100%;
    justify-content: center;
}

.card {
    padding-top: 10rem;
    padding-left: 2rem;
    margin: 8rem 1rem;
    width: 33%;
    justify-content: center;
    height: 22rem;
    background-color: azure;
}

.card h2 {
    margin-top: 6rem;
    margin-left: 3rem;
    text-align: center;
}

.card p {
    text-align: left;
    padding-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    color: dimgray;
}

.card-pic {
    margin-top: -18rem;
}

.card:hover {
    background-color: lightpink;
}

.contact-box {
    background-color: azure;
    margin-top: -14rem;
    color: rgb(83, 111, 94);
    text-decoration-thickness: 0.125rem;
    text-decoration: underline;
    float: left;
    width: 97.5%;
    padding-left: 2rem;
    padding-top: 5rem;
}

.contact-box h1 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.side-text {
    float: right;
    margin-right: 20rem;
    font-size: 1.3rem;
    margin-top: -25rem;
    color: black;
    font-weight: 500;
}

.contact-box form {
    padding: 0rem 2rem 9rem 0rem;
}

.contact-box input {
    padding:  10px 8px 8px 8px;
    width: 14rem;
    border: 1px rgb(88, 169, 172) solid;
    border-radius: 8px;
}

.contact-box button {
    border-radius: 8px;
    border: 0px;
    width: 5rem;
    height: 2rem;
    color: white;
    background-color: rgb(83, 111, 94);
}

.map {
    padding:2rem 4rem 2rem 2rem;
    margin-top: -8rem;
    margin-bottom: 1rem;
}

.footer-nav {
    float: left;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    color: rgb(255, 255, 255);
}

.footer-ul {
    background-color: rgb(116, 116, 116);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
.footer-ul ul {
    list-style-type: none; 
    overflow: hidden;
    margin: 0;
  }
  
.footer-ul li {
    float: right;
  }

.footer-ul li a {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(116, 116, 116);
    text-align: center;
    padding: 14px 16px;
    font-weight: 500;
    text-decoration: none;
  }

@media (min-width: 320px)and (max-width: 480px) {

    .card-container {
        flex-direction: column;
        width: 100%;
    }

    .card {
        min-width: 90%;
    }

    .paragraphs {
        padding:1px;
        margin: auto;
        width: auto;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .header-nav {
        width: 320px;
    }

    .head-main {
        width: auto;
    }

    .pic1 img {
        width: 250px;
        height: 200px;
        margin-left: -270px;
        margin-top: 250px;
    }

    .collage {
        justify-content: space-around;
        align-content:space-around;
    }

    .footer-ul{
        width: 107.5%;
    }

    .header-nav li a {
        text-align: center;
        margin-top: 40px;
        margin-left: 20px;
        padding: 4px 4px;

    }

    .header-nav ul {
        width:107.5%;
    }

    .contact-box {
        justify-content: space-between;
    }

    .side-text {
        margin: auto;
    }

    }


@media (min-width: 481px)and (max-width: 768px) {

    .card-container {
        flex-direction: column;
        width: 100%;
    }

    .card {
        min-width: 85%;
    }

    .paragraphs {
        padding:1px;
        margin: auto;
        width: auto;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .head-main {
        width: auto;
    }

    .pic1 img {
        width: 350px;
        height: 300px;
        margin-left: -240px;
        margin-top: 250px;
    }

    .about-us {
        margin-top: 400px;
    }


    .collage {
        justify-content: space-around;
        align-content:space-around;
    }

    .footer-ul{
        width: 103.5%;
    }

    .header-nav li a {
        text-align: center;
        margin-top: 40px;
        margin-left: 20px;
        padding: 4px 10px;

    }


    .header-nav {
        margin: 0;
        width: 103.9%;
    }

    .contact-box {
        justify-content: space-between;
    }

    .side-text {
        margin: auto;
    }

    }
